<div class="table-responsive col">
    <table class="table">
        <thead class="table-light text-center">
            <tr>
                <th>#</th>
                <th>ชื่อ-นามสกุล</th>
                <th>เบอร์โทรศัพท์</th>
                <th>ออเดอร์ทั้งหมด</th>
                <th>จัดการ</th>
            </tr>
        </thead>
        <% customers.forEach((row) => { %>
            <tbody class="text-center">
                <% if(row.id) { %>
                <tr>
                    <td><%=row.id%></td>
                    <td><%=row.first_name%> <%=row.last_name%></td>
                    <td><%if(row.phone_number) {%> <%=helper.ThaiPhoneNumber(row.phone_number)%> <%}%></td>
                    <td><%=row.total_orders ?? 0%></td>
                    <td>
                        <button class="btn btn-primary" onclick="openLink('/customers/<%=row.id%>')"><i class="fa-solid fa-folder"></i></button>
                        <button class="btn btn-warning" onclick="openLink('/billingHistories/?customer_id=<%=row.id%>')"><i class="fa-solid fa-box-open"></i></button>
                        <button class="btn btn-danger" onclick="
                        Swal.fire({
                        title: 'คุณต้องการลบข้อมูลนี้หรือไม่?',
                        text: 'การลบจะไม่สามารถย้อนกลับได้',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'ยืนยัน',
                        cancelButtonText: 'ย้อนกลับ',
                        }).then((result) => {
                        if (result.isConfirmed) {
                            openLink('/deleteCustomer/<%=row.id%>')
                        }
                        });
                        "><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <%}%>
            </tbody>
        <%})%>
    </table>
</div>