<html>
    <head>
        <title>แก้ไขข้อมูลส่วนลด | SunnyPOS</title>
        <%-include('include/head')%>
    </head>
    <body>
        <script>
            let editing = false
        </script>
        <div class="d-flex">
            <%-include('include/sidebar')%>
            <div class="container-fluid p-0 overflow-hidden">
                <%-include('include/navigator')%>
                <nav class="navbar">
                    <div class="navbar-brand"><a class="px-4 py-2 text-decoration-none text-black" href="/discounts">
                        <i class="fa-solid fa-chevron-left me-4"></i> ข้อมูลส่วนลด</a></div>
                </nav>
                <div class="container-fluid px-4">
                    <div class="card p-4">
                        <h2 class="mb-4"><i class="fa-solid fa-user-cog me-1"></i> ข้อมูลส่วนลด
                            <button class="btn btn-secondary btn-sm p-2" id="editing_status" onclick="toggleEdit()"><span id="editing_status_text"></span></button>
                        </h2>
                        <form action="/discounts" method="post">
                            <input type="hidden" name="id" value="<%=discount.id%>">
                            <div class="row">
                                <div class="mb-2 col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="กรอกโค้ดส่วนลด" id="code" name="code" value="<%=discount.code%>" required>
                                        <label for="address">Code *</label>
                                    </div>
                                </div>
                                <div class="mb-2 col">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" placeholder="กรอก % ส่วนลด" id="amount" name="amount" value="<%=discount.amount%>" min="0" max="100" required>
                                        <label for="address">ลดร้อยละ (%) *</label>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" id="save_btn"><i class="fa-solid fa-floppy-disk me-1"></i> บันทึกการเปลี่ยนแปลง</button>
                        </form>
                        <!-- <ul class="list-group">
                            <li class="list-group-item"></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <%-include('include/footer')%>
        <script>
            toggleEdit()
        </script>
    </body>
</html>