<html>
    <head>
        <title>ตั้งค่า | SunnyPOS</title>
        <%-include('include/head')%>
    </head>
    <body>
        <div class="d-flex">
            <%-include('include/sidebar')%>
            <div class="container overflow-hidden">
                <%-include('include/navigator')%>
                <div class="container p-4">
                    <div class="card p-4">
                        <div class="row grid-2 g-0 gap-3">
                            <div class="col-lg-auto">
                                <div style="width: 80px; height: 80px; background-color: #B7B1F2;" class="rounded mx-auto">
                                    <div style="text-align: center; margin: auto; display: block; padding: 20px; font-size: 28px; text-transform: capitalize;"><%=user_data[0].username[0]%></div>
                                </div>
                            </div>
                            <div class="col-lg">
                                <h4>ชื่อผู้ใช้: <%=user_data[0].username%></h4>
                                <p>ชื่อ-นามสกุล: <%=user_data[0].full_name%></p>
                                <p>ประเภท: <span class="badge bg-secondary"><%=user_data[0].type%></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row card my-4 p-4 g-0">
                        <h3><i class="fa-solid fa-cog m-4 mx-2 mt-2"></i> ข้อมูลในระบบ</h3>
                        <div class="col">
                            <div class="list-group">
                                <%if(user_data[0].permission.split(',').includes('customers')) {%>
                                    <button type="button" class="list-group-item list-group-item-action" onclick="openLink('/product_types')">
                                        <i class="fa-solid fa-boxes me-1"></i> ประเภทของสินค้า</button>
                                <%}%>
                                <%if(user_data[0].permission.split(',').includes('users')) {%>
                                    <button type="button" class="list-group-item list-group-item-action" onclick="openLink('/user_types')">
                                        <i class="fa-solid fa-users-cog me-1"></i> ประเภทของผู้ใช้</button>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class="row gap-4 g-0 mt-4">
                        <%if(user_data[0].permission.split(',').includes('users')) {%>
                        <div class="card col p-4">
                            <h3><i class="fa-solid fa-users mx-1"></i> ผู้ใช้</h3>
                            <div class="list-group mt-3">
                                <button type="button" class="list-group-item list-group-item-action" onclick="openLink('/Users')">
                                    <i class="fa-solid fa-users-cog me-1"></i> จัดการผู้ใช้</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="openLink('/addUser')">
                                    <i class="fa-solid fa-user-plus me-1"></i> เพิ่มผู้ใช้</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="openLink('/loginHistories')">
                                    <i class="fa-solid fa-user-clock me-1"></i> ประวัติการเข้าสู่ระบบของผู้ใช้</button>
                            </div>
                        </div>
                        <%}%>
                        <div class="card col p-4">
                            <h3><i class="fa-solid fa-user mx-1"></i> บัญชี</h3>
                            <div class="list-group mt-3">
                                <button type="button" class="list-group-item list-group-item-action" onclick="openLink('/editProfile')">
                                    <i class="fa-solid fa-user-cog me-1"></i> แก้ไขข้อมูลส่วนตัว</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="openLink('/changePassword')">
                                    <i class="fa-solid fa-user-lock me-1"></i> เปลี่ยนรหัสผ่าน</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%-include('include/footer')%>
    </body>
</html>