<html>
    <head>
        <title>จัดการประเภทผู้ใช้ | SunnyPOS</title>
        <%-include('include/head')%>
    </head>
    <body>
        <div class="d-flex">
            <%-include('include/sidebar')%>
            <div class="container-fluid p-0 overflow-hidden">
                <%-include('include/navigator')%>
                <nav class="navbar">
                    <div class="navbar-brand"><a class="px-4 py-2 text-decoration-none text-black" href="/settings">
                        <i class="fa-solid fa-chevron-left me-4"></i> จัดการประเภทผู้ใช้</a></div>
                </nav>
                <div class="container-fluid px-4">
                    <div class="card p-4">
                        <h2 class="mb-4"><i class="fa-solid fa-cog me-1"></i> จัดการประเภทผู้ใช้ <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addUserType_modal"><i class="fa-solid fa-plus me-1"></i> เพิ่มประเภทผู้ใช้</button></h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="table-light text-center">
                                    <tr>
                                        <th>รายการ</th>
                                        <th>สิทธิ์ผู้ใช้</th>
                                        <th>จัดการ</th>
                                    </tr>
                                </thead>
                                <% user_types.forEach((row) => { %>
                                    <tbody class="text-center">
                                        <tr>
                                            <td><%=row.name%></td>
                                            <td><%=row.permission%></td>
                                            <td>
                                                <button class="btn btn-warning" onclick="openLink('/editUserType/<%=row.id%>')"><i class="fa-solid fa-pen-to-square"></i></button>
                                                <button class="btn btn-danger" onclick="
                                                Swal.fire({
                                                title: 'คุณต้องการลบข้อมูลนี้หรือไม่?',
                                                text: 'การลบจะไม่สามารถย้อนกลับได้',
                                                icon: 'warning',
                                                showCancelButton: true,
                                                confirmButtonColor: '#3085d6',
                                                cancelButtonColor: '#d33',
                                                confirmButtonText: 'ยืนยัน',
                                                cancelButtonText: 'ย้อนกลับ',
                                                }).then((result) => {
                                                if (result.isConfirmed) {
                                                    openLink('/deleteUserType/<%=row.id%>')
                                                }
                                                });
                                                "><i class="fa-solid fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                <%})%>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addUserType_modal" tabindex="-1" aria-labelledby="addUserType_modal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="modal_title">เพิ่มประเภทผู้ใช้</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="กรอกชื่อประเภทผู้ใช้" id="name" name="name" required>
                            <label for="vaccine_name">ชื่อประเภทผู้ใช้ *</label>
                        </div>
                    </div>
                    <h5>สิทธิ์ผู้ใช้</h5>
                    <table class="table">
                        <tr>

                        </tr>
                        <tr>
                            <th>customers</th>
                            <td>จัดการลูกค้า</td>
                        </tr>
                        <tr>
                            <th>products</th>
                            <td>จัดการสินค้า</td>
                        </tr>
                        <tr>
                            <th>bills</th>
                            <td>จัดการประวัติการซื้อ</td>
                        </tr>
                        <tr>
                            <th>users</th>
                            <td>จัดการผู้ใช้ในระบบ</td>
                        </tr>
                    </table>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="permission" id="permission" name="permission" required>
                            <label for="vaccine_name">สิทธิ์ผู้ใช้ *</label>
                        </div>
                    </div>
                </div>
                <script>
                    function addUserType() {
                        let name = document.getElementById('name').value
                        let permission = document.getElementById('permission').value

                        const options = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            name: name,
                            permission: permission
                        })
                        };

                        if(!name || !permission) {
                            Swal.fire({
                                icon: 'error',
                                title: 'โปรดกรอกข้อมูลการเพิ่มประเภทผู้ใช้ให้ครบถ้วน'
                            });
                            return;
                        }

                        fetch('/addUserType', options)
                        .then(res => {
                            if (!res.ok) {
                                return res.json().then(errorData => { throw new Error(errorData.error); });
                            }
                            return res.json();
                        })
                        .then(data => {
                            Swal.fire({
                                icon: 'success',
                                title: 'เพิ่มประเภทผู้ใช้แล้ว!',
                            }).then(() => {
                                location.reload()
                            });
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            Swal.fire({
                                icon: 'error',
                                title: 'เกิดข้อผิดพลาด',
                                text: error.message || 'โปรดลองอีกครั้งในภายหลัง',
                            });
                        });  
                    }
                </script>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-cancel me-1"></i> ยกเลิก</button>
                  <button type="button" class="btn btn-primary" onclick="addUserType()"><i class="fa-solid fa-plus me-1"></i> เพิ่มประเภทผู้ใช้</button>
                </div>
              </div>
            </div>
        </div>
        <%-include('include/footer')%>
    </body>
</html>