<html>
    <head>
        <title>เปลี่ยนรหัสผ่าน | SunnyPOS</title>
        <%-include('../include/head')%>
    </head>
    <body>
        <div class="d-flex">
            <%-include('../include/sidebar')%>
            <div class="container-fluid p-0 overflow-hidden">
                <%-include('../include/navigator')%>
                <nav class="navbar">
                    <div class="navbar-brand"><a class="px-4 py-2 text-decoration-none text-black" href="/admin/settings">
                        <i class="fa-solid fa-chevron-left me-4"></i> ตั้งค่า</a></div>
                </nav>
                <div class="container-fluid px-4">
                    <div class="card p-4">
                        <h2 class="mb-4"><i class="fa-solid fa-user-lock mx-1"></i> เปลี่ยนรหัสผ่าน</h2>
                        <form action="/changePassword" method="post">
                            <input type="hidden" name="id" value="<%=user_data[0].id%>">
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" name="old_password" placeholder="กรอกรหัสผ่านเดิม" required>
                                    <label for="old_password">รหัสผ่านเดิม: </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" name="new_password" placeholder="กรอกรหัสผ่านใหม่" required>
                                    <label for="new_password">รหัสผ่านใหม่: </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="password" class="form-control" name="confirm_password" placeholder="กรอกรหัสผ่านใหม่อีกครั้ง" required>
                                    <label for="confirm_password">ยืนยันรหัสผ่านใหม่: </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary w-100"><i class="fa-solid fa-lock mx-1"></i> เปลี่ยนรหัสผ่าน</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%-include('../include/footer')%>
    </body>
</html>