<html>
    <head>
        <title>จัดการข้อมูลส่วนตัว | SunnyPOS</title>
        <%-include('../include/head')%>
    </head>
    <body>
        <div class="d-flex">
            <%-include('../include/sidebar')%>
            <div class="container-fluid p-0 overflow-hidden">
                <%-include('../include/navigator')%>
                <nav class="navbar">
                    <div class="navbar-brand"><a class="px-4 py-2 text-decoration-none text-black" href="/admin/settings">
                        <i class="fa-solid fa-chevron-left me-4"></i> ตั้งค่า</a></div>
                </nav>
                <div class="container-fluid px-4">
                    <div class="card p-4">
                        <h2 class="mb-4"><i class="fa-solid fa-user-cog mx-1"></i> แก้ไขข้อมูลส่วนตัว</h2>
                        <form action="" method="post">
                            <input type="hidden" name="id" value="<%=user_data[0].id%>">
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="username" placeholder="กรอก user_data[0]name ของผู้ใช้" required value="<%=user_data[0].username%>">
                                    <label for="username">ชื่อผู้ใช้: </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="full_name" placeholder="กรอก ชื่อ-นามสกุล ของผู้ใช้" required value="<%=user_data[0].full_name%>">
                                    <label for="full_name">ชื่อ-นามสกุล: </label>
                                </div>
                            </div>

                                                        <!-- Profile Colors -->
                            <input type="hidden" id="color" name="color">
                            <div class="row gap-2 m-2 mb-3">
                                <div class="col-md-auto profileColor" style="width: 40px; height: 40px; border-radius: 10px; background: #B7B1F2; cursor: pointer;"  onclick="setProfileColor('#B7B1F2')" id="#B7B1F2"></div>
                                <div class="col-md-auto profileColor" style="width: 40px; height: 40px; border-radius: 10px; background: #ACD3A8; cursor: pointer;" onclick="setProfileColor('#ACD3A8')" id="#ACD3A8"></div>
                                <div class="col-md-auto profileColor" style="width: 40px; height: 40px; border-radius: 10px; background: #F38C79; cursor: pointer;" onclick="setProfileColor('#F38C79')" id="#F38C79"></div>
                                <div class="col-md-auto profileColor" style="width: 40px; height: 40px; border-radius: 10px; background: #F7A8C4; cursor: pointer;" onclick="setProfileColor('#F7A8C4')" id="#F7A8C4"></div>
                                <div class="col-md-auto profileColor" style="width: 40px; height: 40px; border-radius: 10px; background: #80CBC4; cursor: pointer;" onclick="setProfileColor('#80CBC4')" id="#80CBC4"></div>
                                <div class="col-md-auto profileColor" style="width: 40px; height: 40px; border-radius: 10px; background: #D5C7A3; cursor: pointer;" onclick="setProfileColor('#D5C7A3')" id="#D5C7A3"></div>
                            </div>
                            <script>
                                initProfileColor()
                                function setProfileColor(color) {
                                    document.getElementById('color').value = color
                                    uncheckColors() 
                                    document.getElementById(color).style.opacity = 0.5
                                }
                                function initProfileColor() {
                                    document.getElementById('color').value = "<%=user_data.color%>"
                                    document.getElementById("<%=user_data.color%>").style.opacity = 0.5
                                }
                                function uncheckColors() {
                                    let profileColors = document.getElementsByClassName('profileColor')
                                    for(let i = 0; i < profileColors.length; i++) {
                                        profileColors[i].style.opacity = 1
                                    }
                                }
                            </script>
                            
                            <button type="submit" class="btn btn-primary w-100"><i class="fa-solid fa-floppy-disk me-1"></i> บันทึกการเปลี่ยนแปลง</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%-include('../include/footer')%>
    </body>
</html>