<html></html>
    <head>
        <title>แก้ไขข้อมูลผู้ใช้ | SunnyPOS</title>
        <%-include('../include/head')%>
    </head>
    <body>
        <div class="d-flex">
            <%-include('../include/sidebar')%>
            <div class="container-fluid p-0 overflow-hidden">
                <%-include('../include/navigator')%>
                <nav class="navbar">
                    <div class="navbar-brand"><a class="px-4 py-2 text-decoration-none text-black" href="/Users">
                        <i class="fa-solid fa-chevron-left me-4"></i> ตั้งค่า</a></div>
                </nav>
                <div class="container px-4">
                    <div class="card p-4">
                        <h2 class="mb-4"><i class="fa-solid fa-user-cog mx-1"></i> แก้ไขข้อมูลผู้ใช้</h2>
                        <form action="/editUser" method="post">
                            <input type="hidden" name="id" value="<%=user.id%>">
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="กรอก username ของพนักงาน" id="username" name="username" value="<%=user.username%>" required>
                                    <label for="username">ชื่อผู้ใช้</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="กรอก ชื่อ-นามสกุล ของผู้ใช้" id="full_name" name="full_name" value="<%=user.full_name%>" required>
                                    <label for="full_name">ชื่อ-นามสกุล</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating">
                                    <select class="form-select" name="type">
                                        <option selected value="">เลือกประเภทของผู้ใช้</option>
                                        <%user_types.forEach(row => {%>
                                        <option value="<%=row.id%>" <%if(user.type == row.id) {%>selected<%}%>><%=row.name%></option>
                                        <%})%>
                                    </select>
                                    <label for="type">ประเภทของผู้ใช้: </label>
                                </div>
                            </div>
                            <div class="row gap-2 g-2 grid-2">
                                <button type="submit" class="btn btn-primary col"><i class="fa-solid fa-floppy-disk me-1"></i> บันทึกการเปลี่ยนแปลง</button>
                                <span class="btn btn-danger col" onclick="
                                Swal.fire({
                                title: 'คุณต้องการลบผู้ใช้นี้หรือไม่?',
                                showDenyButton: true,
                                confirmButtonText: 'ยืนยัน',
                                denyButtonText: 'ยกเลิก'
                                }).then((result) => {
                                if (result.isConfirmed) {
                                    openLink('/deleteUser/<%=user.id%>')
                                }
                                });
                                "><i class="fa-solid fa-trash me-1"></i> ลบข้อมูลผู้ใช้</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%-include('../include/footer')%>
    </body>
</html>