<html>
    <head>
        <title>แก้ไขประเภทสินค้า | SunnyPOS</title>
        <%-include('include/head')%>
    </head>
    <body>
        <div class="d-flex">
            <%-include('include/sidebar')%>
            <div class="container-fluid p-0 overflow-hidden">
                <nav class="navbar">
                    <div class="navbar-brand"><a class="px-4 py-2 text-decoration-none text-black" href="/admin/admin/product_types">
                        <i class="fa-solid fa-chevron-left me-4"></i> แก้ไขประเภทสินค้า</a></div>
                </nav>
                <%-include('include/navigator')%>
                <div class="container-fluid p-4">
                    <div class="card p-4">
                        <h2 class="mb-4"><i class="fa-solid fa-box-open me-1"></i> แก้ไขข้อมูลสินค้า</h2>
                        <form action="/editProductType" method="post">
                            <input type="hidden" name="id" value="<%=row.id%>">
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="กรอกชื่อประเภท" id="name" name="name" value="<%=row.name%>" required>
                                    <label for="name">ชื่อประเภท *</label>
                                </div>
                            </div>
                            <button class="btn btn-primary"><i class="fa-solid fa-floppy-disk me-1"></i> บันทึกการเปลี่ยนแปลง</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%-include('include/footer')%>
    </body>
</html>